{% extends 'base.html' %}
{% load i18n %}

<!doctype html>
<html lang="es">
    <title>{% block title %}Default Title{% endblock %}</title>

<body>
    {% block content %}

    <!-- Banner -->
    <style>
        .banner {
            background-image: url("https://opia.fia.cl/601/channels-501_bg_encabezado_opia22.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: white;
            padding: 2.5em; /* Reduced vertical padding */
            text-align: left;
        }
    </style>
    <section class="banner">
        <div class="container">

            <h1>{% translate  "Generar Boletín de Vigilancia e Inteligencia en Innovación" %}</h1>

        </div>
    </section>

    <!-- Sección de noticias -->
    <section class="news-section py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="text-left mb-5" style="font-family: 'Roboto', sans-serif; font-weight: 400; font-size: 1.4em; border-bottom: 1px solid #c0c0c0; padding-bottom: 10px;">{% translate "Generar Boletín VigiFIA" %}</h2>
                <div class="container mt-5">
                    <div class="row justify-content">
                        <div class="col-md">
                            <div class="card">
                                <div class="card-header" style="font-family: 'Roboto', sans-serif;">
                                    {% translate "Generar Boletín" %}
                                </div>
                                <form class="p-4" method="POST" action="model/execute_editarReserva.php">
                                    <div class="mb-3">
                                        <label for="titulo" class="form-label" style="font-family: 'Roboto', sans-serif;">{% translate "Título" %}</label>
                                        <input type="text" class="form-control" id="titulo" name="titulo" required value="{{ reserva.Rut }}" readonly>
                                    </div>
                                    <div class="mb-3">
                                        <label for="fuente" class="form-label" style="font-family: 'Roboto', sans-serif;">{% translate "Fuente de la noticia" %}</label>
                                        <input type="text" class="form-control" id="fuente" name="fuente" required value="{{ reserva.Rut }}" readonly>
                                    </div>
                                    <div class="mb-3">
                                        <label for="categoria" class="form-label" style="font-family: 'Roboto', sans-serif;">{% translate "Categoría" %}</label>
                                        <select class="form-select" id="categoria" name="categoria" required>
                                            <option value="Adaptación y Mitigación al Cambio Climático">{% translate "Adaptación y Mitigación al Cambio Climático" %}</option>
                                            <option value="Gestión Sostenible de Recursos Hídricos">{% translate "Gestión Sostenible de Recursos Hídricos" %}</option>
                                            <option value="Sistemas Alimentarios Sostenibles">{% translate "Sistemas Alimentarios Sostenibles" %}</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="tours" class="form-label" style="font-family: 'Roboto', sans-serif;">{% translate "Archivo de la noticia" %}</label>
                                        <input type="file" class="form-control" id="tours" name="tours[]" required multiple>
                                        <span id="file-names" class="text-muted mt-2 d-block" style="font-family: 'Roboto', sans-serif;">{% translate "No hay archivos seleccionados." %}</span>
                                    </div>
                                    
                                    <script>
                                        document.getElementById('tours').addEventListener('change', function() {
                                            const fileList = this.files;
                                            const fileNames = [];
                                            
                                            for (let i = 0; i < fileList.length; i++) {
                                                fileNames.push(fileList[i].name);
                                            }
                                    
                                            document.getElementById('file-names').textContent = fileNames.length > 0 
                                                ? fileNames.join(', ')
                                                : 'No hay archivos seleccionados.';
                                        });
                                    </script>
                                    
                                    <div class="d-grid">
                                        <input type="hidden" name="Num_Habitacion" value="{{ reserva.Num_Habitacion }}">
                                        <button type="submit" class="btn btn-primary" style="background-color: #489956; font-family: 'Roboto', sans-serif;">{% translate "Generar" %}</button>
                                    </div>    
                                </form> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
</body>

</html>