{% extends 'base.html' %}
{% load i18n %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% translate "De Texto a Voz" %}</title>
</head>
<body>
    {% block content %}
    <section class="banner">
        <div class="container">
            <h1>{% translate "De Texto a Voz" %}</h1>
        </div>
    </section>
    <section>
        <div class="chat-container" style="width: 80%; margin: auto; margin-top: 30px; margin-bottom: 60px;">
        <form action="" method="post" style="width: 90%; margin: auto; margin-top: 30px; margin-bottom: 30px;">
            {% csrf_token %}
            <label for="lang" class="form-label">{% translate "Idioma del texto / voz" %}</label>
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="lang" style="font-size: small;">
                    <option value="en-AU">{% translate "Inglés (Australia)" %}</option>
                    <option value="en-GB">{% translate "Inglés (Reino Unido)" %}</option>
                    <option value="en-US">{% translate "Inglés (EE.UU.)" %}</option>
                    <option value="fr-CA">{% translate "Francés (Canadá)" %}</option>
                    <option value="fr-CA">{% translate "Francés (Francia)" %}</option>
                    <option value="de-DE">{% translate "Alemán (Alemania)" %}</option>
                    <option value="es-ES">{% translate "Español (España)" %}</option>
                    <option value="es-US" selected>{% translate "Español (EE.UU.)" %}</option>
                </select>

            <div class="mb-3">
                {% translate "Escriba el texto que quiera escuchar..." as writetext_to_speech %}
                <textarea class="form-control" id="text_area" rows="8" cols = "2" name="text" required  placeholder="{{ writetext_to_speech }}"></textarea>
            </div>

            <div class="col-auto">
                {% translate "Generando Audio" as generaraudio %}
               <input type="submit" class="btn btn-success" value="{{ generaraudio }}" />
            </div>
        </form>
        </div>
    </section>

    {% endblock %}
</body>
</html>