{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>De Texto a Voz
    </title>
</head>
<body>
    {% block content %}
    <section class="banner">
        <div class="container">
            <h1>De Texto a voz</h1>
        </div>
    </section>
    <section>
        <div class="chat-container" style="width: 80%; margin: auto; margin-top: 30px; margin-bottom: 60px;">
        <form action="" method="post" style="width: 90%; margin: auto; margin-top: 30px; margin-bottom: 30px;">
            {% csrf_token %}
            <label for="exampleFormControlInput1" class="form-label">Idioma del texto / voz</label>
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="lang" style="font-size: small;">
                <option value="en-AU">Inglés (Australia)</option>
                <option value="en-GB">Inglés (Reino Unido)</option>
                <option value="en-US">Inglés (EE.UU.)</option>
                <option value="fr-CA">Francés (Canadá)</option>
                <option value="fr-CA">Francés (Francia)</option>
                <option value="de-DE">Alemán (Alemania)</option>
                <option value="es-ES">Español (España)</option>
                <option value="es-US" selected>Español (EE.UU.)</option>
            </select>

            <div class="mb-3">
                <textarea class="form-control" id="text_area" rows="8" cols = "2" name="text" required  placeholder="Escriba el texto que quiera escuchar..."></textarea>
            </div>

            <div class="col-auto">
               <input type="submit" class="btn btn-success" value="Generar Audio" />
            </div>
        </form>
        </div>
    </section>

    {% endblock %}
</body>
</html>